modules = ["nodejs-20", "web"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
NEXT_PUBLIC_APP_URL = "https://34b5bec9-2fad-49be-b12b-f20e8e83d1a0-00-2zymgz2axwxrw.sisko.replit.dev"
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME = "laodeaksar"
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET = "blocknote"
CONVEX_DEPLOYMENT = "prod:reminiscent-curlew-987"
NEXT_PUBLIC_CONVEX_URL = "https://reminiscent-curlew-987.convex.cloud"
CONVEX_SITE_URL = "https://reminiscent-curlew-987.convex.site"
BETTER_AUTH_SECRET = "1CrEVs0No3xOA6dVUWgZ/L0G2yVhb2hFREBnYPfyLa8="
